body{
	text-align: center;
	background-color: rgb(116,69,149);
	color: white;
	vertical-align: middle;
	background-image: url(http://memberfiles.freewebs.com/80/75/100387580/photos/Memes/troll_face-1280x800.jpg)
}