/*General*/
*{
	padding: 0;
	margin: 0;
	background-color: rgb(116,69,149);
	color: white;
}

a{
	text-decoration: none;
}

body{
    height: 30px;
    width: auto;
}

/*Nav Bar*/

nav li{
    height: 30px;
    margin: 0 5%;
    display: inline;
    text-align: center;
    padding: 0 10px;

}

nav ul{
    text-align: center;
    border-bottom: solid 2px black;
    position: fixed;
    width: 100%
}

/*Heading*/

.dogblogtitle{
    padding-top: 30px;
    text-align: center;
    
}