/*General*/
*{
	padding: 0;
	margin: 0;
	background-color: rgb(116,69,149);
	color: white;
}
a{
	text-decoration: none;
}

/*Nav Bar*/

ul {
	display: inline;
	list-style-type: none;
	padding: 0;
}

.navbar li {
	display: inline;
	padding-left: 40px;	
}
.navbar {
	text-align: center;
}
.nav_line {
	background-color: black;
}