/*General*/
    *{
    	padding: 0;
    	margin: 0;
    	
    }

    body{
        background-color: rgb(116,69,149);
        color: white;
    }

    a{
    	text-decoration: none;

    }

    body{
        height: 30px;
        width: auto;
    }

    /*Nav Bar*/

    nav li{
        height: 30px;
        margin: 0 5%;
        display: inline;
        text-align: center;
        padding: 0 10px;

    }

    nav ul{
        text-align: center;
        border-bottom: solid 2px black;
        position: fixed;
        width: 100%;
        background-color: rgb(116,69,149);

    }

    nav li a{
        color: white;
    }

/*Heading*/

    .dogblogtitle{
        padding-top: 200px;
        padding-bottom: 0;
        text-align: center;
        font-family: 'Crafty Girls', cursive;
        font-size: 1.5em;
        background-image: url(luna.jpg);
        background-size: 400px 300px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .img_comment{
        text-align: center;
        font-size: 18px;
        font-weight: normal;
        border-top: 0;
    }

/*About Us*/

    .about_title{
        text-align: center;
        padding-top: 20px;
        font-size: 25px;
    }

    .about_text{
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        border: solid 2px grey;
        background-image: url(rockywall_@2X.png);
        color: rgb(116,69,149);
        font-size: 18px;
    }

/*Latest Blog*/
    
    .latestblog{
        text-align: center;
        margin-top: 50px;
        font-size: 25px

    }

    .latestblog_text{
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        border: solid 2px grey;
        background-image: url(rockywall_@2X.png);
        color: rgb(116,69,149);
        font-size: 18px;
        font-weight: normal;
        border-left: 5px;

    }

    .blogbutton {
        margin-top: 20px;
        height: 15px;
        width: 95px;
        margin-right: auto;
        margin-left: auto;
        border: solid 4px black;
        border-radius: 8px;
        padding-bottom: 5px;
        box-shadow: 5px 5px 2.5px black;
        text-decoration: none;
        color: inherit;
        background-color: rgb(193,75,72);

    }

    .blogbutton a:active{
        color: white;
    }

/*New Pictures*/

    .new_pictures{
        text-align: center;
        padding-top: 50px;
        font-size:25px;
    }

    img.doggy_pic{
        width: 380px;
    }

    p.likepet{
        text-align: center;
        margin: 0 auto;
        background-color: rgb(116,69,149);
        font-size: 20px;
    }

    img.sisters{
        width: 380px;
        padding-left: 0;
        margin-top: 40px;
        border-left: 0;
        margin-left: 0;
    }

    p.sisters{
        text-align: center;
        margin: 0 auto;
        background-color: rgb(116,69,149);
        font-size: 20px;
    }

/*Window bigger than 400px*/
    
    @media all and (min-width:400px)
    {
        body{
            text-align: center;
        }
    }
