body{
	background-image: url(paw-print-seamless-pattern02.png);
	min-width: 1023px;
	text-align: center;
}

.image_text{
	text-align: right;
	display: inline-block;
	width: 380px;
	margin: 0;
	vertical-align: top;
	max-width: 300px;
    border: solid 2px grey;
    background-image: url(rockywall_@2X.png);
    color: rgb(116,69,149);
    font-size: 18px;
    font-weight: normal; 
   	padding: 40px 27.5px;

}

.lunalily{
	display: inline-block;
	margin-left: 0;
}

.title{
	padding-top: 200px;
    padding-bottom: 0;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size: 2.5em;
    color: white;
    }

a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Crafty Girls', cursive;
}